/* - - - - - - - - THEME COLORS - - - - - - - - */
.theme-color-one {
  color: #283048; }

.theme-color-two {
  color: #3d72b4; }

.theme-color-three {
  color: #3375A7; }

.black-font {
  color: black; }

/* - - - - - - - - THEME COLORS - - - - - - - - */
/* - - - - - - - - GRADIENT BACKGROUNDS - - - - - - - - */
.background-one {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color-one+0,3498db+100 */
  background: #283048;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #283048 0%, #3d72b4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #283048 0%, #3d72b4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #283048 0%, #3d72b4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-one', endColorstr='$color-two', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ }

.background-two {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color-one+0,3498db+100 */
  background: #283048;
  /* Old browsers */
  background: -moz-linear-gradient(top, #283048 0%, #3d72b4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #283048 0%, #3d72b4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #283048 0%, #3d72b4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-one', endColorstr='$color-two', GradientType=0);
  /* IE6-9 */ }

.background-three {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color-one+0,3498db+100 */
  background: #283048;
  /* Old browsers */
  background: -moz-linear-gradient(left, #283048 0%, #3d72b4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #283048 0%, #3d72b4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #283048 0%, #3d72b4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-one', endColorstr='$color-two', GradientType=1);
  /* IE6-9 */ }

/* - - - - - - - - GRADIENT BACKGROUNDS - - - - - - - - */
/* - - - - - - - - FONTS - - - - - - - - */
@font-face {
  font-family: Circular;
  font-weight: bold;
  src: local("Circular"), url("../fonts/CircularStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: Circular;
  font-weight: normal;
  src: local("Circular"), url("../fonts/CircularStd-Book.otf") format("opentype"); }
/* - - - - - - - - FONTS - - - - - - - - */
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Circular', sans-serif;
  font-weight: bold; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: inherit; }

.link {
  font-weight: normal;
  font-size: 0.85rem;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  .link:hover {
    padding-left: 10px;
    font-weight: bold; }

.container-fluid {
  height: 100vh;
  padding-bottom: 100px; }

.information {
  position: fixed; }

.content {
  height: 100vh; }

.section-card {
  color: black;
  margin-top: 50px; }

.section-card:first-child {
  margin-top: 0px; }

.section-card-title {
  color: black;
  padding: 10px;
  border: 1px solid #3d72b4; }
  .section-card-title h1, .section-card-title h2, .section-card-title h3, .section-card-title h4, .section-card-title h5, .section-card-title p {
    margin: 0px; }

.section-header {
  color: black;
  padding: 10px 0px 10px 10px;
  font-size: 0.85rem;
  text-transform: uppercase; }

.section-desc {
  padding-left: 10px;
  font-weight: normal; }

.cards-column {
  height: 80vh;
  overflow-y: scroll; }

.cards-column::-webkit-scrollbar {
  display: none; }

.footer {
  position: relative;
  margin-top: -50px;
  /* negative value of footer height */
  height: 50px;
  clear: both; }
  .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer p {
    text-transform: uppercase;
    font-size: 75%;
    line-height: 50px;
    margin: 0; }

.landing-name {
  font-size: 10rem; }

/*# sourceMappingURL=custom.css.map */
