$color-one: #fff;
$color-two: #fff;

/* - - - - - - - - THEME COLORS - - - - - - - - */
.theme-color-one {
	color: $color-one;
}

.theme-color-two {
	color: $color-two;
}

.theme-color-three {
	color: #3375A7;
}

.black-font {
	color: black;
}

/* - - - - - - - - THEME COLORS - - - - - - - - */

/* - - - - - - - - GRADIENT BACKGROUNDS - - - - - - - - */
.background-one {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color-one+0,3498db+100 */
	background: $color-one; /* Old browsers */
	background: -moz-linear-gradient(-45deg, $color-one 0%, $color-two 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, $color-one 0%, $color-two 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, $color-one 0%, $color-two 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-one', endColorstr='$color-two', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.background-two {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color-one+0,3498db+100 */
	background: $color-one; /* Old browsers */
	background: -moz-linear-gradient(top, $color-one 0%, $color-two 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $color-one 0%, $color-two 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $color-one 0%, $color-two 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-one', endColorstr='$color-two', GradientType=0); /* IE6-9 */
}

.background-three {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color-one+0,3498db+100 */
	background: $color-one; /* Old browsers */
	background: -moz-linear-gradient(left, $color-one 0%, $color-two 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, $color-one 0%, $color-two 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $color-one 0%, $color-two 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-one', endColorstr='$color-two', GradientType=1); /* IE6-9 */
}

/* - - - - - - - - GRADIENT BACKGROUNDS - - - - - - - - */

/* - - - - - - - - FONTS - - - - - - - - */
@font-face {
	font-family: Circular;
	font-weight: bold;
	src: local("Circular"), url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
	font-family: Circular;
	font-weight: normal;
	src: local("Circular"), url("../fonts/CircularStd-Book.otf") format("opentype");
}

/* - - - - - - - - FONTS - - - - - - - - */

body {
	color: black;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Circular', sans-serif;
	font-weight: bold;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover, &:visited, &:active, &:focus {
		text-decoration: none;
		color: inherit;
	}

}

.link {

	a {
		font-size: 0.85rem;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
		transition: .5s;

		&:hover {
			font-size: 1rem;
			padding-left: 20px;
		}
	}

}

.section {
	min-height: 100vh;
}

.section-title {
	text-align: center;
	margin: 40px 0px;
}

#landing, #projects, #contact {
	border-bottom: 1px black solid;
	padding-bottom: 50px;
}

#contact {
	font-weight: normal;
	color: white;
	background-color: black;
}

#projects {
	//background-color: #faf2cc;
}

.project-card {

	margin-bottom: 50px;
	border: 1px solid black;

	.project-info, .project-image {
		padding: 25px;
	}

	.project-stack {
		font-size: .8rem;
	}

	.project-link {
		color: white;
		background-color: black;
		font-size: .65rem;
		display: inline-block;
		padding: 3px 10px;
	}
}

#particles-js {
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}


