/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
	margin-left: calc(100vw - 100%);
}

body {
	padding-bottom: 100px;
	/*overflow: auto;*/
}

h1, h2, h3, h4, h5{
	margin-top: 0px;
	color: black;
	font-family: 'Montserrat', sans-serif; 
}

p {
	font-family: 'Open Sans', sans-serif;
	color: black;
}

.title-text {
	margin-top: 35px;
}

.sm-size-link  {
	border: 1px black solid;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sm-size-link:hover {
	color: white;
	background-color: black;
}

.links-and-content {
	margin-top: 20px;
}

.image-and-links {
	margin-top: 60px;
}

.page-content {
	/*min-height: 600px;*/
	/*overflow: auto;*/
}

.page-content-item {
	padding: 10px 10px 20px;
	margin-bottom: 5px;
	/*background-color: cyan;*/
}

.misc-content {
	padding: 10px 10px 20px;
	margin-bottom: 5px;
	/*background-color: cyan;*/
}

.misc-content:first-child {
	padding-top: 0px;
}

.page-content-item-tags > p {
	display: inline-block;
}

.page-content-item-tags > .btn {
	color: white;
	background-color: black;
	border: none;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
}

.page-content-item:first-child {
	padding-top: 0px;
}

.page-content-item:nth-child(even) {
	background-color: #e7e7e7;
}

.page-content-item-text {
	
	padding: 10px;
	margin-bottom: 5px;
	border: 1px black solid;
	/*background-color: yellow;*/
}

.euler-anchor-link {
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	float: left;
	text-align: center;
	margin: 0 7px 7px 0;
	width: 27px;
	height: 27px;
	border: 1px solid black;
}

.euler-anchor-link:hover {
	color: white;
	background-color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

.page-content-item-text a {
	transition: all 500ms ease;
}

.page-content-item-text a:hover {
	font-size: 127%;
	/*background-color: yellow;*/
}

.project-content h4 {
	padding-top: 10px;
}

.tag-button:focus, .tag-button:active:focus, .tag-button.active:focus {
	outline: none;
	outline-style: none;
	box-shadow: none;
}

.tag-button:active:focus {
	color: white;
	background-color: black;
}

.home-page-links {
	padding-left: 0px;
}

.home-page-link > a {
	margin-bottom: 8px;
	transition: all 0.5s ease;
}

.home-page-link > a:hover {
	border: none;
	color: white;
	background-color: black;
	margin-left: 10px;
	padding: 5px;
}

.home-page-sublink {
	font-size: 75%;
	margin-left: 10px;
}

.page-selected a {
	padding: 3px;
}

.home-profile-picture {
	max-height: 200px;
}

.misc-photo {
	max-width: 100%;
}

.top-buffer {
	margin-top: 30px;
}

footer.footer {
	background-color: white;
	padding-bottom: 10px;
	padding-top: 15px;
	border-top: 1px dotted black;
}

footer a {
	margin: 0px 15px;
	transition: all 0.5s ease;
}

footer a:hover {
	border: none;
	color: white;
	background-color: black;
	padding: 10px;
}


/*::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: none;
}
::-webkit-scrollbar-thumb {
	background-color: #888888;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #666666;
}*/