// GLOBAL STYLE FOR WHOLE APP

@import "../css/typography"; // imports all the local fonts defined in typography.scss
@import "../css/colors"; // imports all the colors for our app

* {
  // default font across everything
  @extend %sans-serif-bold;
}

p {
  @extend %monospace-normal;
}

// GLOBALS
.portfolio-button {
  padding: 1rem 2rem;
  background: none;
  color: $primary-600;
  border: 1px solid $primary-600;
  border-radius: 0.5rem;

  p {
    @extend %sans-serif-normal;
    margin: 0;
  }

  &:hover {
    background-color: $primary-100;
  }
}

// LOGOBAR STYLES
.logobar-logo {
  max-width: 40px;
}

// NAVBAR STYLES
.nav-link-button {
  background-color: white;
  padding: 5px 15px;
  border: 1px white solid;
  border-radius: 5%;
}
.nav-button-active {
  background-color: $primary-600;
}
.nav-link {
  font-size: 1rem;
  font-family: Inconsolata, sans-serif;
  //font-weight: norm;
  margin: 0;
  padding: 0 0 0 0;
  color: $primary-400;
}
.nav-link-active {
  color: white;
}

// CONTENT STYLES - all container rows should have 100vh
.container-row {
  min-height: 100vh;
  border: 1px black dashed; // remove after finalized
}

// [HERO]
.hero-intro-hello {
  @extend %monospace-normal;
  font-size: 1rem;
  color: $neutral-700;
}
.hero-intro-name {
  @extend %sans-serif-bold;
  letter-spacing: -0.25rem;
  font-size: 6rem;
  color: $primary-600;
  position: relative;
  left: -0.4rem;
}
.hero-intro-desc {
  @extend %sans-serif-bold;
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  color: $primary-400;
}
.hero-intro-snippet {
  @extend %monospace-normal;
  font-size: 1.25rem;
  color: $neutral-700;
  line-height: 1.7rem;
}

// [ABOUT]
.about-container-row {
  min-height: 100vh;
}
.about-me-image {
  max-width: 300px;
}

// [PROJECTS]
.projects-container {
  border: 1px solid red;
}

.project-box {
  border: 1px solid rgba(0, 255, 255, 0.24);
  background-color: rgba(255, 0, 255, 0.2);
  margin-bottom: 10px;

  .project-img {
    flex: 1;
    img {
      width: 100%;
    }
  }

  .project-text {
    flex: 1;
    justify-content: center;
    align-content: center;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
