// GLOBAL STYLE FOR WHOLE APP

@import "../css/typography";  // imports all the local fonts defined in typography.scss
@import "../css/colors";  // imports all the colors for our app

// LOGOBAR STYLES
.logobar-logo {
  max-width: 40px;
}

// NAVBAR STYLES
.nav-link {
  font-size: 1.1rem;
  font-family: Circular, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0 0 5px 0;
  color: $primary-300;
  &:hover {
    color: $primary-600;
  }
}


// CONTENT STYLES
// [HERO]
.hero-container-row {
  min-height: 100vh;
}
.hero-intro-hello {
  font-family: Circular, sans-serif;
  font-weight: bold;
  color: $acc-red-400;
}
.hero-intro-name {
  font-family: Eksell, serif;
  font-size: 8rem;
  color: $primary-600;
}
.hero-intro-snippet {
  font-family: Circular, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: $primary-200;
}
