/* Defines the colors of our app */

/* PRIMARY */
$primary-900: #02182D;
$primary-800: #062F5C;
$primary-700: #0A3F7E;
$primary-600: #0D4F9E;
$primary-500: #1060C1;
$primary-400: #4282CE;
$primary-300: #6C9FD9;
$primary-200: #95BAE4;
$primary-100: #CCE0F2;

/* NEUTRAL */
$neutral-900: #0D0E0F;
$neutral-800: #202224;
$neutral-700: #3B3E42;
$neutral-600: #575C61;
$neutral-500: #70777D;
$neutral-400: #868E95;
$neutral-300: #A6AFB8;
$neutral-200: #BDC8D2;
$neutral-100: #D3DFEA;

/* ACCENT GREENS */
$acc-green-700: #145239;
$acc-green-600: #197741;
$acc-green-500: #259D58;
$acc-green-400: #38C172;
$acc-green-300: #74D99F;
$acc-green-200: #A8EEC1;
$acc-green-100: #E3FCEC;

/* ACCENT YELLOWS */
$acc-yellow-700: #5C4813;
$acc-yellow-600: #8C6D1F;
$acc-yellow-500: #CAA53D;
$acc-yellow-400: #F4CA64;
$acc-yellow-300: #FAE29F;
$acc-yellow-200: #FDF3D7;
$acc-yellow-100: #FFFCF4;

/* ACCENT REDS */
$acc-red-700: #611818;
$acc-red-600: #891B1B;
$acc-red-500: #B82020;
$acc-red-400: #DC3030;
$acc-red-300: #E46464;
$acc-red-200: #EFA6A6;
$acc-red-100: #FCE8E8;

