/* Eksell */

@font-face {
    font-family: "Eksell";
    src: url("../fonts/Eksell Display Large.otf");
    font-weight: normal;
}

/* Circular */

@font-face {
    font-family: "Circular";
    src: url("../fonts/Circular Std Book.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/Circular Std Bold.ttf");
    font-weight: bold;
}

/* Avenir */

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Book.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Black.otf");
    font-weight: bold;
}